# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDEs and configs
.idea/
.vscode/

# iOS/macOS
ios/Flutter/
ios/Pods/
DerivedData/

# Misc
*.log
*.tmp
